html{
  font-size: 20px;
  scroll-behavior: smooth;

}
body{
position: relative;
margin: 0;
padding: 0;
color: #ffffff;
font-family: 'IBM Plex Sans Thai';
font-weight: 500;
background-color: #121212;

display: grid;
grid-template-columns: 100vw;
}
.head{
font-size: 3.75rem;
background-position: 100%;
/* set bg size to be over and will move it to left 
then it can change it pos to change its gradient*/
background-size: 300% 100%;
/* create gradient bg and clip it with text then set the the text transparent to 0 */
background-image: -webkit-linear-gradient(0deg,#f90c9d, #f90c9d, #f90c9d, #9f00f1);
/* must have */
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

transition: ease all 0.4s;
}
.top{
  position: fixed;
  width: 3.7rem;
  height: 3.7rem;
  right: 0.5rem;
  bottom: 0.5rem;
  border-radius: 50%;
  background-image: url('icon/to_top.png');
  background-size: contain;
  z-index: 99;
  border: #ffffff solid 0.3rem;
  box-shadow: 0.2rem 0.2rem 0.7rem rgba(12, 12, 12, 50%);
}
.page{
position: relative;
width: 100vw;
height: 100vh;
}
.page1{
background-size: cover;
background-position: center top;
background-image: url('bg/bg.jpg');
background-repeat: no-repeat;
}
.intro{
position: absolute;
left: 10%;
top: 5%;
width: 35%;
height: 45%;
}
.intro > .bar{
position: absolute;
top: 0;
left: 0;
background-color: #ffffff;
width: max(0.5vw,5px);
height: 100%;
}
.page1_text{
position: absolute;
left: 10px;
line-height: 100%;
font-size: 3rem;
white-space: nowrap;
}
.kittipan{
top: 0;
}
.port{
top: 70px;
}
.find{
font-size: 2rem;
bottom: 0;
}
.foot_bar{
position: absolute;
bottom: 0;
width: 100%;
height: 29%;
background-color: #9f00f1;
}
.card_box{
position: absolute;
bottom: 34px;
width: 100%;
height: 39%;

display: grid;
grid-template-columns: auto auto auto auto;
align-items: center;
justify-content: space-evenly;

color: #121212;
text-align: center;
font-size: 1rem;
}
.card{
position: relative;
width: 8.5rem;
height: 10.7rem;
background-color: #ffffff;
border-radius: 20px;
}
.card > .text{
text-align: center;
position: absolute;
bottom: -10px;
width: 100%;
opacity: 0;
transition: ease all 0.4s;
}
.card > .icon{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
border-radius: 50%;
width: 4.45rem;
height: 4.45rem;
background-size: cover;
transition: ease all 0.6s;
}
.card1 > .icon{
background-image: url("icon/page1_1.png");
}
.card2 > .icon{
background-image: url("icon/page1_2.png");
}
.card3 > .icon{
background-image: url("icon/page1_3.png");
}
.card4 > .icon{
background-image: url("icon/page1_4.png");
}
.card:hover > .text{
bottom: 10px;
transition: ease all 0.4s;
opacity: 1;
}
.card:hover > .icon{
top: 35%;
width: 3.2rem;
height: 3.2rem;
}
/* ################################################################ */
.page2{
display: flex;
flex-direction: row;
align-items: center;
font-size: 1rem;
}
.page2 > .sec{
position: relative;
width: calc(100%/3);
height: 100%;
}
.self_img{
position: absolute;

width: 10.65rem;
height: 10.65rem;

top: 6%;
left: 50%;
transform: translate(-50%,0%);
border-radius: 50%;
background-image: url("person/profile.jpg");
background-size:160%;
background-position: 50% 30%;

}
.sec1 > .name{
position: absolute;
top: 40%;
left: 50%;
width: 100%;
text-align: center;
white-space: nowrap;
transform: translate(-50%,0%);
font-size: 2rem;
}

.bio{
position: absolute;
top: 57%;
left: 50%;
width:80%;
transform: translate(-50%,0%);
text-align: center;
}
.page2_head{
position: absolute;
left: 1.5%;
white-space: nowrap;
font-size: 2.5rem;
}
.p_info{
position: absolute;
width: 90%;
height: 40%;
left: 50%;
transform: translate(-50%,0);
}
.about_head{
position: absolute;
top: 52%;
left: 50%;
width: 65%;
transform: translate(-50%,-50%);
text-align: center;
white-space: nowrap;
}
.info{
position: absolute;
top: 25%;
left: 1.5%;
white-space: nowrap;

line-height: 1vw;
transition: ease all 0.4s;
}
.skills{
position: absolute;
width: 90%;
height: 60%;
bottom: 0;

left: 50%;
transform: translate(-50%);

display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: flex-start;

line-height: 0;
}
.skill_head{
position: relative;
width: fit-content;
height: 80px;
top: 0;
line-height: 55px;
}
.talent{
position: relative;
width: 100%;
height: 8vh;
}
.lang{
position: absolute;
top: -14px;
left: 1.5%;
width: auto;
}
.lv{
position: absolute;
top: -14px;
right: 0;
text-align: right;
font-size: 0.8rem;
}
.talent > .bar{
position: absolute;
width: 99%;
height: 3vh;
border: 2px solid #ffffff;
}
.scale{
position: absolute;
height: inherit;

background-position: 100%;
background-size: 300% 100%;
background-image: -webkit-linear-gradient(0deg,#f90c9d, #f90c9d, #f90c9d, #9f00f1);
transition: ease all 0.4s;
}
.c_scale_bar{
width: 30%;
}
.html_scale_bar{
width: 65%;
}
.python_scale_bar{
width: 97%;
}
.speak_scale_bar{
width: 50%;
}

.scale:hover{
background-position: 0 0;
}
.edu_text_box{
position: absolute;
right: 0;
bottom: 0;
width: 87%;
height: 83%;

display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
align-content: flex-start;
}
.past_school{
width: inherit;
height: 20%;
transition: ease all 0.4s;
   
margin-bottom: 30px;
}
.year{
font-size: 1.25rem;
margin-bottom: 5px;
}
.rank{
font-size: 0.8rem;
}
.loca{
position: absolute;
left: 0;
bottom: 0;
width: 13%;
height: 83%;

background-image: url('icon/loca.jpg');
background-size: cover;
background-position: top center;
background-repeat: no-repeat;
}
.page2_icon{
width: max(4.2vw,50px);
height: max(4.2vw,50px);
background-image: url("icon/loca.png");
background-size: 100%;
background-repeat: no-repeat;
background-position: top center;

}
.bar_box1,.bar_box2,.bar_box3{
position: relative;
top: -2%;
width: 100%;
height: 15%;
}
.bar_tab > .bar_box4{
position: relative;
width: 100%;
height: 18%;
}
.b1,.b2,.b3{
position: absolute;
left: 50%;
bottom: 0;
transform: translate(-50%,0);
width: 4px;
height: 100%;
background:linear-gradient(to bottom, #9f00f1 0,  #f90c9d 50%, #121212 100%);
transition: ease all .4s;
}
.page2_head:hover{
background-position: 0 0;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
transition: ease all 0.4s;
}
.page3{
display: flex;
flex-direction: column;
justify-content:flex-start;
align-content: center;
align-items: center;
}
.act_head{
position: absolute;
width: fit-content;
height: fit-content;
text-align: center;
}
.page3 > .below{
position: absolute;
top: 12%;
width: 100%;
height: 88%;
}
.page3 > .below > .bar{
position: absolute;
top: 50%;
transform: translate(0,-50%);
width: 5%;
height: 80%;
background-color:#ffffff;
}
.left_bar{
left: 0;
}
.right_bar{
right: 0;
}
.arrow{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 100%;
height: 40px;

background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
.left_arrow{
background-image: url('icon/left_arrow.png');
}
.right_arrow{
background-image: url('icon/right_arrow.png');
}
.showcase{
position: absolute;
width: 85%;
height: 80%;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
background-image: url('act/act1.jpg');
background-size: cover;
background-position: center;
transition: ease all 0.4s;
}
.showcase_text{
position: absolute;
width: 95%;
height: 15%;
left: 50%;
bottom: 0;
transform: translate(-50%,0);
text-align: left;
font-size: 1.25rem;
color: #ffffff;
transition: ease all 1s;
}
.page4{
padding-bottom: auto;
display: flex;
flex-direction: column;
justify-content:flex-start;
align-content: center;
align-items: center;
background-color: #121212;
}
.cer_head{
position: relative;
top: 0;
width: fit-content;
height: fit-content;
text-align: center;
}
.cer_head > .header{
  top:0;
}
.cer_head > .to_read{
  position: absolute;
  width: fit-content;
  left: 50%;
  transform: translate(-50%,0);
  bottom: -0.5rem;
  font-size: 1.5rem;
  color: #ffffff;
  }
.page4 > .below{
  position: relative;
  width: 100%;
  height: fit-content;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  flex-wrap: wrap;

  line-height: 1.3rem;
  text-align: center;
  color:#121212;
  }
  .cer{
  position: relative;
  width: 11.3rem;
  height: 8rem;
  border-radius:  10px;
  margin: 0.4rem 1.5rem;
  
  background-size: cover;
  background-position: center;
  }
.cer_text_box{
position: relative;
width: inherit;
height: inherit;
opacity: 0;
border-radius:  10px;
transition: ease all 0.4s;
}
.cer_text{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 90%;
height: auto;
font-size: 0.8rem;
}
.cer:hover > .cer_text_box{
border-radius:  10px;
opacity: 100%;
background-color:rgba(255, 255, 255, 80%);
} 
.cer1{
background-image: url('cer/cer1.jpg');
}
.cer2{
background-image: url('cer/cer2.jpg');
}
.cer3{
background-image: url('cer/cer3.jpg');
}
.cer4{
background-image: url('cer/cer4.jpg');
}
.cer5{
background-image: url('cer/cer5.jpg');
}
.cer6{
background-image: url('cer/cer6.jpg');
}
.cer7{
background-image: url('cer/cer7.jpg');
}
.cer8{
background-image: url('cer/cer8.jpg');
}
.cer9{
background-image: url('cer/cer9.jpg');
}
.cer10{
background-image: url('cer/cer10.jpg');
}
.cer11{
background-image: url('cer/cer11.jpg');
}
.cer12{
background-image: url('cer/cer12.jpg');
}
.page5{
  height: 100vh;
}
.page5 > .sec{
position: relative;
bottom: 0;
width: 100%;
height: 100%;

font-size: 1rem;
color: #ffffff;
background-color: #9f00f1;
}
.page5_sec1{
position: absolute;
left: 0;
width: 60%;
height: 100%;
background-color: #ffffff;
}
.page5_sec1 > .thanks{
position: absolute;
top: 50%;
left: 50%;
transform:translate(-50%,-50%);

text-align: center;

background-image: -webkit-linear-gradient(0deg,#f90c9d, #9f00f1);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.thanks > p{
  font-size: 3.5rem;
  white-space: nowrap;
}
.page5_sec2{
position: absolute;
right: 0;
top: 2%;
left: 60%;
width: 40%;
height: 95%;

display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
background-color: #9f00f1;
}
.page5_text{
position: relative;
left: 10px;
width: 90%;
height: auto;
font-size: 1.15rem;
}
.page5_sec2 > .icon{
position: relative;
left: 10px;
width: 2.5rem;
height: 2.5rem;
border-radius: 50%;

background-size: cover;
}
.address_icon{
background-image: url('icon/page5_1.png');
}
.mail_icon{
background-image: url('icon/page5_2.png');
}
.tel_icon{
background-image: url('icon/page5_4.png');
}
.fb_icon{
cursor: pointer;
background-image: url('icon/page5_3.png');
transition: ease all 0.4s;
}
.github_icon{
cursor: pointer;
background-image: url('icon/page5_5.png');
transition: ease all 0.4s;
}
.github_icon:hover,.fb_icon:hover{
background-color: #121212;
}
@media screen and (orientation:portrait){
  .page1{
    width: 100vw;
    height: 100vh;
  }
  .card{
    width: 10rem;
    height: 12.5rem;
  }
  .intro{
    height: 30%;
  }
  .foot_bar{
    height: 50%;
  }
  .card_box{
    bottom: 0;
    height: 50%;
  
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-evenly;
  }
  .page2{
    flex-direction: column;
    height: 300vh;
  }
  .page2 > .sec{
    height: 100vh;
    width: 100vw;
  }
  .sec > .sec1{
    height: 100vh;
    width: 90%;
    top: 0vh;
  }
  .sec > .sec2{
    height: 100vh;
    width: 90%;
    top: 100vh;
  }
  .sec > .sec3{
    height: 100vh;
    width: 90%;
    top: 200vvh;
  }
  .self_img{
    width: 15rem;
    height: 15rem;
  }
  .sec1 > .name{
    width: 100%;
    font-size: 3rem;
  }
  .bio{
    font-size: 1.2rem;
  }
  .page2_head{
    font-size: 3.75rem;
  }
  .lv{
    font-size: 1.2rem;
  }
  .year{
    font-size: 1.875rem;
  }
  .rank{
    font-size: 1.2rem;
  }
  .p_info{
    height: 35%;
  }
  .skills{
    height: 65%;
  }
  p{
    font-size: 1.6rem;
  }
  .showcase{
    height: 40%;
    top: 30%;
  }
  .page3 > .below > .bar{
    height: 40%;
    top:30%;
  }
  .showcase_text{
    top: 120%;
    text-align: center;
  }
  .page4{
    height: fit-content;
  }
  .page4 > .below{
    position: relative;
  }
  .page5{
    height: 90vh;
  }
  .page5_sec1{
    width: 100%;
    height: 20%;
  }
  .page5_sec1 > .thanks > p{
    white-space: normal;
  }
  .page5_sec2{
    width: 100%;
    height: 70%;
    left: 0px;
    top: 25%;
  
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    }
  }
@media screen and (max-width: 1100px){
  html{
    font-size: 30px;
  }
  .card{
    width: 7.2rem;
    height: 9rem;
  }
  .showcase{
    height: 40%;
    top: 30%;
  }
  .page3 > .below > .bar{
    height: 40%;
    top:30%;
  }
  .cer_head > .to_read{
    font-size: 1.2rem;
    }
  .page5_sec1 > .thanks > p{
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 800px){
  html{
    font-size: 18px;
  }
  .card{
    width: 8.3rem;
    height: 10.375rem;
  }
  .showcase{
    height: 40%;
    top: 30%;
  }
  .page3 > .below > .bar{
    height: 40%;
    top:30%;
  }
  .page5_sec1 > .thanks > p{
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 600px){
  .card{
    width: 8rem;
    height: 10rem;
  }
  .page5_sec1 > .thanks > p{
    font-size:2.3rem;
  }
}
@media screen and (max-width: 400px){
  html{
    font-size: 14px;
  }
  .find{
    font-size: 1.8rem;
  }
  .card{
    width: 9rem;
    height: 11.25rem;
  }
  .showcase{
    height: 30%;
  }
  .page3 > .below > .bar{
    height: 30%;
  }
  .page5_sec1 > .thanks > p{
    font-size: 2.5rem;
  }
}
  
